*{
    box-sizing: border-box;
    margin: 0;
}
body{
    padding: 0;
}
img{
    max-width: 100%;
}
.container {
    margin: 0 auto;
    width: 80%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
nav {
    background: #009969b0;
    padding: 20px 0px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
}
ul li{
    margin: 0 30px 0 0;
}
ul li a{
 
        color: #FFF;
}

.login {
    background-color: #1f89a7;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
}
.main {
    background: #009969b0;
    padding: 80px 0 160px;

}
.all {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.description h3 {
    font-size: 50px;
    width: 59%;
    margin-bottom: 30px;
}
.description p {
    width: 50%;
    font-size: 22px;
    margin-bottom: 70px;
}

.description a {
    padding: 20px 40px;
    background: #9f2b2b;
}
/* 
@media screen and (max-width:992px){
 .image{
    display: none;
 }
 .description h3 {
  
    width: 100%;

}
.description p {
    width: 100%;
  
}

} */